.login-box{
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    height: 50%;
  

    border: 6px solid   #419180;
    background-image: radial-gradient(#12373d, #121923);
    display: flex;
    align-items: center;
    position: fixed;
    top: 150px;

   
}
.login-main{
    display: flex;
  
    justify-content: center;
   
   
}
.spn{
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: x-small;
    color: white;
}
.img{
    width: 100px;
    height: 100px; 
    background: -webkit-linear-gradient(90deg, #179d80, #20cda7, #179d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.btn{
    width: 7rem;
    margin-bottom: 2rem;
    padding: 5px;
    background: linear-gradient(90deg, #179d80, #20cda7, #179d80);

}
.img-box{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.inpt{
    height: 2rem;
    width: 13rem;
    background: none;
    border: 4px solid transparent;
    border-image: linear-gradient(90deg, #1a555c, #419180, #1a555c);
    border-image-slice: 1;
    background: -webkit-linear-gradient(90deg, #179d80, #20cda7, #179d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}