.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.mt{
    display: flex;
    justify-content: space-between;
}
.left-box{
     padding-top: 5rem;
     padding-left: 4rem;
    width: 44.5%!important;
    height: 85.8vh;
  

    border: 4px solid transparent;
  border-image: linear-gradient(90deg, #1a555c, #419180, #1a555c);
  border-image-slice: 1;
}
.box-2{
    width: 49%;
    height: 98.8vh;

    border: 4px solid transparent;
  border-image: linear-gradient(90deg, #1a555c, #419180, #1a555c);
  border-image-slice: 1;

}
.size{
    font-size: xx-large;
    
}
.box{
    margin-bottom: 1.5rem;
}
.sze{
    font-size: 50px;
}
.sizee{
   font-size: 60px!important;
}

.color{
    color: white;
}

.colour{
    background: -webkit-linear-gradient(90deg, #179d80, #20cda7, #179d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.clour{
    color: rgb(52, 51, 51);
}
.icon{
   padding: .5rem;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #1a555c, #419180, #1a555c);
  border-image-slice: 1;
  margin-right:1rem ;
}
.pera{
    background: -webkit-linear-gradient(90deg, #179d80, #20cda7, #179d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
    font-weight: 300px!important;
}
.para{
    color: white;
   
}
.box-2{
    display: flex;
    justify-content: end;
    align-content: center;
    align-items: center;
    

}